.label {
    -fx-base: rgb(0, 0, 0);
    -fx-text-fill: rgb(240, 150, 96);
    -fx-font-size: 1em;
}

.label_warning {
    -fx-base: rgb(0, 0, 0);
    -fx-text-fill: rgb(240, 150, 96);
    -fx-font-size: 8em;

}

.search_button {
    -fx-text-fill: rgb(240, 150, 96);
}

.headTextFieldText {
    -fx-background-radius: 20px;
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-radius: 20px;
    -fx-text-fill: #AAACAF;
}

.default-color0.chart-series-line {
    -fx-stroke: #FFFFFF;
}

.default-color1.chart-series-line {
    -fx-stroke: #ffff00;
}

.default-color2.chart-series-line {
    -fx-stroke: #b23aee;
}

.default-color3.chart-series-line {
    -fx-stroke: #66CD00;
}

.default-color4.chart-series-line {
    -fx-stroke: #63B8FF;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #ffffff, #ffffff;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #ffff00, #ffff00;
}

.default-color2.chart-line-symbol {
    -fx-background-color: #b23aee, #b23aee;
}

.default-color3.chart-line-symbol {
    -fx-background-color: #66CD00, #66CD00;
}

.default-color4.chart-line-symbol {
    -fx-background-color: #63B8FF, #63B8FF;
}

.tab {
    -fx-font-size: 1.6em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: black;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(240, 150, 96);
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #000000;
}

.tab-pane {
    -fx-border-color: rgb(240, 150, 96);
}

.chart-legend {
    -fx-background-color: transparent;
}

