.label{
    -fx-base:rgb(0,0,0);
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 1em;
}

.label_warning{
    -fx-base:rgb(0,0,0);
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 8em;
}



.datePicker .label{
    -fx-text-fill:rgb(0,0,255);
}