.label{
    -fx-base:rgb(0,0,0);
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 1em;
}



.label_warning{
    -fx-base:rgb(0,0,0);
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 8em;

}

.search_button{
    -fx-text-fill:rgb(240,150,96);
}

.date-picker .label{
    -fx-text-fill:rgb(100,100,100);
}

.date-picker .button{
    -fx-base:rgb(100,100,100);
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.date-picker > .text-field {
    -fx-background-color: rgb(100,100,100);;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}
.date-picker > .text-field{
    -fx-border-color: rgb(100,100,100);
    -fx-text-fill: #AAACAF;
}
.date-picker > .text-field:selected{
    -fx-border-color: #161618;
}

.date-picker-popup{
    -fx-control-inner-background:#161618;
    -fx-control-inner-border-color:#161618;
}

.date-picker-popup > .month-year-pane{
    -fx-background-color: #161618;
    -fx-border-color: #161618;
}
.date-picker-popup > * > .date-cell{
    -fx-background-color: #161618;
    -fx-border-color: #AAACAF;
    -fx-text-fill: #AAACAF;
}

.date-picker-popup > * > .day-cell:hover{
    -fx-background-color: #243C62;
}

.combo-box-base{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.combo-box-base:editable > .arrow-button{
    -fx-border-color: #161618;
    -fx-background-color: #161618;
}
.date-picker:editable > .arrow-button:hover{
    -fx-border-color: white;
    -fx-background-color: black;
}
.date-picker:editable > .arrow-button > .arrow:hover{
    -fx-border-color: #243C62;
    -fx-background-color: #243C62;
}
.date-picker-popup > * > .spinner > .button:hover{
    -fx-background-color: #243C62;
}

.headTextFieldText{
    -fx-background-radius: 20px;
    -fx-background-color: rgb(100,100,100);
    -fx-border-radius: 20px;
    -fx-text-fill: #AAACAF;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #FFFFFF; }
.default-color1.chart-series-line { -fx-stroke: #ffff00; }
.default-color2.chart-series-line { -fx-stroke: #b23aee; }
.default-color3.chart-series-line { -fx-stroke: #66CD00; }
.default-color4.chart-series-line { -fx-stroke: #63B8FF; }

.default-color0.chart-line-symbol { -fx-background-color: #ffffff, #ffffff; }
.default-color1.chart-line-symbol { -fx-background-color: #ffff00, #ffff00; }
.default-color2.chart-line-symbol { -fx-background-color: #b23aee, #b23aee; }
.default-color3.chart-line-symbol { -fx-background-color: #66CD00, #66CD00; }
.default-color4.chart-line-symbol { -fx-background-color: #63B8FF, #63B8FF; }