.root {
    -fx-background-color: rgb(0, 0, 0);
}

.label {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 2em;
}

.namelabel{
     -fx-font-size: 1.5em;
}

.button {
    -fx-base: rgb(0, 0, 0);
    -fx-font-color: rgb(255, 255, 255);
    -fx-font-size: 1.5em;
}

.button1 {
    -fx-background-image: url("/picture/exitbutton.png");
}

.button2 {
    -fx-background-image: url("/picture/zoomout.png");
}

.chart {
    -fx-background-color: #000000;
}

.chart-plot-background {
    -fx-background-color: #000000;
}

.label_logo {
    -fx-background-image: url("/picture/logo.jpg");
}

.label_client_picture {
     -fx-background-image: url("/picture/背景1.gif");
        -fx-background-size: cover;
        -fx-background-color:transparent;
}