.root {
    -fx-background-color: rgb(0, 0, 0);
}

.label {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 2em;
}

.button {
    -fx-base: rgb(0, 0, 0);
    -fx-font-color: rgb(255, 255, 255);
    -fx-font-size: 2em;
}

.button1 {
    -fx-background-image: url("/picture/exitbutton.png");
}

.chart {
    -fx-background-color: #000000;
}

.chart-plot-background {
    -fx-background-color: #000000;
}

.label_logo {
    -fx-background-image: url("/picture/logo.jpg");
}

.label_client_picture {
    -fx-background-image: url("/picture/头像.png")
}