.tab {
    -fx-font-size: 1.6em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: black;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(240, 150, 96);
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #000000;
}

.tab-pane {
    -fx-border-color: rgb(240, 150, 96);
}

.label {
    -fx-base: rgb(0, 0, 0);
    -fx-text-fill: rgb(240, 150, 96);
    -fx-font-size: 1em;
}

.label_tip {
    -fx-font-size: 2em;
}

.button {
    -fx-text-fill: rgb(240, 150, 96);
}

.choice-box {
    -fx-background-color: rgb(100, 100, 100);
}

.TextFieldText {
    -fx-background-radius: 20px;
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-radius: 20px;
    -fx-text-fill: #AAACAF;
}

.default-color0.chart-series-line {
    -fx-stroke: #a020f0;
}

.default-color1.chart-series-line {
    -fx-stroke: #ffff00;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #a020f0, #a020f0;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #ffff00, #ffff00;
}

.chart-legend {
    -fx-background-color: transparent;
}
