.label {
    -fx-text-fill: rgb(240, 150, 96);
    -fx-font-size: 1.2em;
}

.noborder {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.button {
    -fx-text-fill:rgb(240, 150, 96);
}

.axis-label {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.5em;
}

.axis {
    -fx-font-size: 1.2em;
    -fx-tick-label-fill: rgb(240, 240, 240);
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
    -fx-stroke-width: 3;

}

.axis-minor-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
}

.default-color0.chart-area-symbol {
    -fx-background-color: #000000,#000000;
}

.default-color0.chart-bar-symbol {
    -fx-background-color: #000000,#000000;
}


.default-color1.chart-bar-symbol {
    -fx-background-color: #000000,#000000;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #000000,#000000;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #000000,#000000;
}

.chart-legend {
    -fx-background-color: transparent;
}

.TextFieldText {
    -fx-background-color: rgb(100, 100, 100);
    -fx-text-fill: #AAACAF;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}


