.table-view {
    -fx-background-color: #000000;
}

.table-view .column-header {
    -fx-background-color: #000000;
}

.table-row-cell {
    -fx-background-color:#000000;
}

.table-row-cell:selected {
    -fx-background-color: rgb(100, 100, 100);
}

.table-cell {
    -fx-text-fill: rgb(240, 150, 96);
    -fx-alignment:CENTER;
}

.label {
    -fx-text-fill: rgb(240, 150, 96);
}