

.label{
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 1.5em;
}

.data0.chart-bar {
    -fx-bar-fill:rgb(255,0,0);
}

.data1.chart-bar {
    -fx-bar-fill:rgb(0,255,0);
}

.button{
    -fx-font: 22 arial;
    -fx-base: rgb(30,194,210);
}

.chart-pie-label {
    -fx-fill: rgb(255,255,255);
    -fx-font-size: 1em;
}

.chart-pie-label-line {
    -fx-stroke: rgb(255,255,255);
    -fx-fill: rgb(255,255,255);
}

.chart-legend{
    -fx-background-color:rgb(0,0,0);
    -fx-stroke: rgb(0,0,0);
}

.chart-legend-item{
    -fx-text-fill:rgb(240,150,96);
    -fx-font-size: 1.2em;
}

.axis-label {
    -fx-text-fill: rgb(240,150,96);
    -fx-font-size: 1.5em;
}

.axis {
    -fx-font-size: 1.5em;
    -fx-tick-label-fill: rgb(240,150,96);
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}

.textArea{
    -fx-background-color:rgb(0,0,0);
}