
.label {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.5em;
}

.data0.chart-bar {
    -fx-bar-fill: rgb(240, 0, 0);
}

.data1.chart-bar {
    -fx-bar-fill: rgb(0, 240, 0);
}

.button {
    -fx-font: 22 arial;
    -fx-base: rgb(0, 0, 0);
    -fx-text-fill: rgb(240, 240, 240);
}

.chart-pie-label {
    -fx-fill: rgb(240, 240, 240);
    -fx-font-size: 0.9em;
}

.chart-pie-label-line {
    -fx-stroke: rgb(240, 240, 240);
    -fx-fill: rgb(240, 240, 240);
}

.default-color0.chart-pie {
    -fx-pie-color: rgb(240, 0, 0);
}

.default-color1.chart-pie {
    -fx-pie-color: rgb(240, 0, 240);
}

.default-color2.chart-pie {
    -fx-pie-color: rgb(240, 240, 60);
}

.default-color3.chart-pie {
    -fx-pie-color: rgb(0, 0, 240);
}

.default-color4.chart-pie {
    -fx-pie-color: rgb(0, 240, 0);
}

.chart-legend {
    -fx-background-color: rgb(0, 0, 0);
    -fx-stroke: rgb(0, 0, 0);
}

.chart-legend-item {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.2em;
}

.axis-label {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.5em;
}

.axis {
    -fx-font-size: 1.2em;
    -fx-tick-label-fill: rgb(240, 240, 240);
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
    -fx-stroke-width: 3;

}

.axis-minor-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
}

.TextFieldText {
    -fx-background-radius: 20px;
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-radius: 20px;
    -fx-text-fill: #AAACAF;
}

.table-view {
    -fx-background-color: #000000;
}

.table-view .column-header {
    -fx-background-color: #000000;
}

.table-row-cell {
    -fx-background-color: #000000;
}

.table-row-cell:selected {
    -fx-background-color: rgb(100, 100, 100);
}

.table-cell {
    -fx-text-fill: rgb(240, 150, 96);
    -fx-alignment: CENTER;
}

.label {
    -fx-text-fill: rgb(240, 150, 96);
}

.table-view > .virtual-flow > .scroll-bar > .track-background {
    -fx-background-color: rgb(0, 0, 0);
}

.table-view > .virtual-flow > .scroll-bar > .track {
    -fx-background-color: rgb(0, 0, 0);
}

.noborder {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}