
.label {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.5em;
}

.data0.chart-bar {
    -fx-bar-fill: rgb(240, 0, 0);
}

.data1.chart-bar {
    -fx-bar-fill: rgb(0, 240, 0);
}

.button {
    -fx-font: 22 arial;
    -fx-base: rgb(0, 0, 0);
    -fx-text-fill: rgb(240, 240, 240);
}

.chart-pie-label {
    -fx-fill: rgb(240, 240, 240);
    -fx-font-size: 0.9em;
}

.chart-pie-label-line {
    -fx-stroke: rgb(240, 240, 240);
    -fx-fill: rgb(240, 240, 240);
}

.default-color0.chart-pie {
    -fx-pie-color: rgb(240, 0, 0);
}

.default-color1.chart-pie {
    -fx-pie-color: rgb(240, 0, 240);
}

.default-color2.chart-pie {
    -fx-pie-color: rgb(240, 240, 60);
}

.default-color3.chart-pie {
    -fx-pie-color: rgb(0, 0, 240);
}

.default-color4.chart-pie {
    -fx-pie-color: rgb(0, 240, 0);
}

.chart-legend {
    -fx-background-color: rgb(0, 0, 0);
    -fx-stroke: rgb(0, 0, 0);
}

.chart-legend-item {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.2em;
}

.axis-label {
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-size: 1.5em;
}

.axis {
    -fx-font-size: 1.2em;
    -fx-tick-label-fill: rgb(240, 240, 240);
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
    -fx-stroke-width: 3;

}

.axis-minor-tick-mark {
    -fx-stroke: rgb(64, 199, 232);
}

.TextFieldText {
    -fx-background-radius: 20px;
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-radius: 20px;
    -fx-text-fill: #AAACAF;
}

.date-picker .label {
    -fx-text-fill: rgb(100, 100, 100);
}

.date-picker .button {
    -fx-base: rgb(100, 100, 100);
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.date-picker > .text-field {
    -fx-background-color: rgb(100, 100, 100);;
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker > .text-field {
    -fx-border-color: rgb(100, 100, 100);
    -fx-text-fill: #AAACAF;
}

.date-picker > .text-field:selected {
    -fx-border-color: #161618;
}

.date-picker-popup {
    -fx-control-inner-background: #161618;
    -fx-control-inner-border-color: #161618;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #161618;
    -fx-border-color: #161618;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: #161618;
    -fx-border-color: #AAACAF;
    -fx-text-fill: #AAACAF;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: #243C62;
}

.combo-box-base {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.combo-box-base:editable > .arrow-button {
    -fx-border-color: #161618;
    -fx-background-color: #161618;
}

.date-picker:editable > .arrow-button:hover {
    -fx-border-color: white;
    -fx-background-color: black;
}

.date-picker:editable > .arrow-button > .arrow:hover {
    -fx-border-color: #243C62;
    -fx-background-color: #243C62;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: #243C62;
}

.table-view {
    -fx-background-color: #000000;
}

.table-view .column-header {
    -fx-background-color: #000000;
}

.table-row-cell {
    -fx-background-color: #000000;
}

.table-row-cell:selected {
    -fx-background-color: rgb(100, 100, 100);
}

.table-cell {
    -fx-text-fill: rgb(240, 150, 96);
    -fx-alignment: CENTER;
}

.label {
    -fx-text-fill: rgb(240, 150, 96);
}

.table-view > .virtual-flow > .scroll-bar > .track-background {
    -fx-background-color: rgb(0, 0, 0);
}

.table-view > .virtual-flow > .scroll-bar > .track {
    -fx-background-color: rgb(0, 0, 0);
}

.noborder {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}