.root{
    -fx-background-color:rgb(226,238,196);
}

.label{
    -fx-text-fill:rgb(102,153,102);
}

.data0.chart-bar {
    -fx-bar-fill:#f9d900;
}

.data1.chart-bar {
    -fx-bar-fill:#b3f300;
}

.button{
    -fx-font: 22 arial;
    -fx-base: #b6e7c9;
}